{% extends "base.html"%}
{%block content%}
<div class="heading">
  <p>Cardiac Arrest</p>
</div>
<div class="form-div">
  <form class="form1" action="/Predict1" method="POST">
    <label for="A">Age:</label>
    <input type="number" step="any" id="A" name="A" required><br>
    <label for="B">Sex:</label>
    <input type="number" step="any" id="B" name="B" required><br>
    <label for="C">cp:</label>
    <input type="number" step="any" id="C" name="C" required><br>
    <label for="D">trtbps:</label>
    <input type="number" step="any" id="D" name="D" required><br>
    <label for="E">chol:</label>
    <input type="number" step="any" id="E" name="E" required><br>
    <label for="F">fbs:</label>
    <input type="number" step="any" id="F" name="F" required><br>
    <label for="G">restecg:</label>
    <input type="number" step="any" id="G" name="G" required><br>
    <label for="H">thalachh:</label>
    <input type="number" step="any" id="H" name="H" required><br>
    <label for="I">exng:</label>
    <input type="number" step="any" id="I" name="I" required><br>
    <label for="J">oldpeak:</label>
    <input type="number" step="any" id="J" name="J" required><br>
    <label for="K">slp:</label>
    <input type="number" step="any" id="K" name="K" required><br>
    <label for="L">caa:</label>
    <input type="number" step="any" id="L" name="L" required><br>
    <label for="M">thall:</label>
    <input type="number" step="any" id="M" name="M" required><br><br>
    <input type="submit" id="predict" value="Predict!">

  </form>
</div>
{%endblock%}