{% extends "base.html"%}
{%block content%}
<div class="heading">
  <p>Diabetes</p>
</div>
<div class="form-div">
  <form class="form1" action="/Predict" method="POST">
    <label for="A">No. of Pregnancies: </label>
    <input type="number" id="A" name="A" required><br>
    <label for="B">Glucose: </label>
    <input type="number" id="B" name="B" required><br>
    <label for="C">Blood Pressure: </label>
    <input type="number" id="C" name="C" required><br>
    <label for="D">Skin Thickness: </label>
    <input type="number" id="D" name="D" required><br>
    <label for="E">Insulin: </label>
    <input type="number" id="E" name="E" required><br>
    <label for="F">BMI: </label>
    <input type="number" id="F" name="F" required><br>
    <label for="G">DPF: </label>
    <input type="number" id="G" name="G" required><br>
    <label for="H">Age: </label>
    <input type="number" id="H" name="H" required><br><br>
    <input type="submit" id="predict" value="Predict!">

  </form>
</div>>
{%endblock%}