{% extends "base.html"%}
{%block content%}
<div class="heading">
  <p>Liver Disease</p>
</div>

<div class="form-div">
  <form class="form1" action="/Predict2" method="POST">
    <label for="A">Age:</label>
    <input type="number" step="any" id="A" name="A" required><br>
    <label for="B">Total_Bilirubin:</label>
    <input type="number" step="any" id="B" name="B" required><br>
    <label for="C">Direct_Bilirubin:</label>
    <input type="number" step="any" id="C" name="C" required><br>
    <label for="D">Alkaline_Phosphotase:</label>
    <input type="number" step="any" id="D" name="D" required><br>
    <label for="E">Alamine_Aminotransferase:</label>
    <input type="number" step="any" id="E" name="E" required><br>
    <label for="F">Aspartate_Aminotransferase:</label>
    <input type="number" step="any" id="F" name="F" required><br><br>
    <input type="submit" id="predict" value="Predict!">

  </form>
</div>

{%endblock%}